.vscode
efgh
mnop
nfc
nfcem
nfcr
nfcw
novo1
novo2
novo3
novo4
novo42
novo5
scen1bleidf
scen2bleidf
scen3bleidf
scen4bleidf
scen5bleidf
scen6bleidf
scen7bleidf
scen8bleidf
scen9bleidf
scenario1
scenario1_mqtt
scenario2
scenario2_mqtt
STEM
test
gap
gatt
test9
mqtt_server
zigbee_server
adad
scenario1idf
zigbee
openthread
ble5
ble5sniffer
espcam2
espcam4